/*
 * Simulation of console output.
 */
.console {
	background-color: black;
	color: #ccc;
}

div.code {
	background-color: #ffd;
}

.console, .code {
	font-family: monospace;
	white-space: pre-wrap;
}

div.console, div.code {
	border: 1px solid;
	margin: .5em;
	padding: .5em;
}

.console .red { color: #f99; }
.console .green { color: #9f9; }
.console .blue { color: #99f; }

/*
 * Code syntax highlighting.
 */
.code .keyword { color: #696; }
.code .comment { color: #33c; }
.code .control { color: #966; }
.code .preproc { color: #c3c; }

/*
 * Simulation of coloured diff output.
 */
.diff .add { color: #3c3; }
.diff .del { color: #c33; }

/*
 * Dependencies listed in a table.
 */
table.deps {
	border-spacing: 3px;
	text-align: center;
}

table.deps thead {
	font-weight: bold;
}

table.deps td {
	background-color: #eee;
	padding: .25em;
}
